@font-face {
    font-family: 'manrope';
    src: url("font/Manrope-VariableFont_wght.ttf");
}

:root {
    --notice-height: 110px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'manrope';
    font-weight: 500;
}

a {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: block;
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    background-color: black;
    border-radius: 15px;
    text-transform: capitalize;
}

button {
    cursor: pointer;
}

a[disabled="true"],
button[disabled="true"] {
    opacity: 0.2;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main[data-type="slider"] {
    width: 97%;
    height: 95%;
    background-color: rgba(45, 45, 45, 0.5);
    border-radius: 40px;
    border: 2px solid red;

    animation: fade 2s infinite linear;
}

main[data-type="slider"]>* {
    opacity: 0;
}

main.stop {
    animation: none;
}


@keyframes fade {
    0% {
        background-color: rgba(45, 45, 45, 0.5);
    }

    50% {
        background-color: rgba(45, 45, 45, 0.8);
    }

    100% {
        background-color: rgba(45, 45, 45, 0.5);
    }
}

.slider {
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap;
    /* opacity: 0; */
    will-change: transform;
}

.slide {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide>* {
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
}


@media (max-width: 768px) {
    main[data-type="slider"] {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}




::-webkit-scrollbar {
    display: none;
}

main[data-type="notice"] {
    padding: 0 20vw;
    background-color: #F5F7FA;

    overflow-x: hidden;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
}

.pfp img {
    transition: 2s;
    opacity: 0;
}

.pfp.off {
    background-color: transparent;
}

.pfp.off img {
    opacity: 1;
}


.notice-slider {
    width: 100%;
}

.notice {
    position: relative;
    width: 100%;
    height: var(--notice-height);

    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

.notice img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid white;
}

.notice span {
    font-size: 0.8em;
    color: #9D9E9F;
    text-wrap: nowrap;
    overflow: hidden;
}

.notice .notice-message {
    max-height: 90%;

    padding: 20px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow-x: hidden;
    overflow-y: scroll;
}

.notice .heading p {
    display: inline-block;
    text-transform: capitalize;
    color: #8A2BE2;
    background-color: rgba(138, 43, 226, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.notice .message {
    line-height: 2;
}

.notice.active {
    height: calc(100vh - (2 * var(--notice-height)));
}

.notice.active span {
    width: 0;
}

.notice.active .title p {
    font-weight: 700;
    font-size: 1.1em;
}

.notice:not(.active) p {
    width: 100%;
    padding: 15px;
    background-color: white;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 15px;
}

.notice:not(.active) .notice-message>* {
    display: none;
}

.notice:not(.active) .notice-message {
    padding: 0;
}

.notice:not(.active) .title {
    display: block;
}

.notice-btns {
    position: absolute;
    bottom: 50%;
    right: 50px;
    transform: translateY(50%);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.notice-btns button {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #F5F7FA;
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.notice-btns button:first-child img {
    transform: rotate(-90deg);
}

.notice-btns button:last-child img {
    transform: rotate(90deg);
}

.notice-btns button img {
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.notice-btns button:hover img {
    filter: invert(100%);
}

.notice-btns button:hover {
    background-color: black;
}



@media (max-width: 1100px) {
    main[data-type="notice"] {
        padding: 0 100px;
    }
}

@media (max-width: 750px) {
    main[data-type="notice"] {
        padding: 0 50px;
    }

    .notice-btns {
        right: 15px;
    }
}

@media (max-width: 600px) {
    main[data-type="notice"] {
        padding: 0 20px;
    }

    .notice img {
        top: 7px;
        left: 0;
        position: absolute;
    }

    .notice-btns {
        transform: none;
        bottom: 50px;
        gap: 10px
    }

    .notice.active {
        gap: 0;
    }

    .notice span {
        display: none;
    }

    .pfp.off {
        width: 0px;
    }
}

@media (max-width: 400px) {
    main[data-type="notice"] {
        padding: 0 10px;
    }
}